.cell {
    padding-bottom: 100%;
    border: 0.5px solid darkgray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell img{
    position: relative;
    max-height: 2rem;
}

.cell div {
    position: absolute;
    top: 30%;
    text-align: center;
}

.cell.revealed {
    background-color: transparent;
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}

.cell.hidden {
    background-color: grey;
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}

.cell.revealed.value-0 {
    background-color: lightgray
}

.cell.revealed.value-1 {
    background-color: #20BC62
}

.cell.revealed.value-2 {
    background-color: #FFA552
}

.cell.revealed.value-3 {
    background-color: rgb(69, 118, 173)
}

.cell.revealed.value-4 {
    background-color: #513B56
}

.cell.revealed.value-5 {
    background-color: rgb(199, 174, 61)
}

.cell.hidden div {
    z-index: -1;
}